<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caoyuan.xiao4.pervue.mapper.OrderItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.caoyuan.xiao4.pervue.entity.OrderItem">
        <id column="id" property="id" />
        <result column="oid" property="oid" />
        <result column="gid" property="gid" />
        <result column="amount" property="amount" />
        <result column="price" property="price" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, oid, gid, amount, price
    </sql>

</mapper>
